@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap);


*{
    box-sizing: content-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

/* inicio del header */

.nav-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 7.22vh 11.46vw 7.22vh 11.46vw;
}

.logo-sportitHeader{
    width: 107.69px;
    height: 25px;
}

.nav-header ul{
    color: #1E1E26;
    list-style: none;
    display: flex;
    width: fit-content;
    flex-direction: row;
    font-weight: 500;
    line-height: 10px;
    column-gap: 3.11vw;
}

.b-contact{
    font-family:'Be Vietnam Pro';
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    color: white;
    background-color: #8B48BF;
    width: 134px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.menu-hamb{
    display: none;
}

li:hover{
    
    color: #242E5299;
}

/* inicio del main */

main{
    display: flex;
    flex-direction: column;
    gap: 5.56vh;

}

/* inicio de seccion 1 */

.article-main{
    height: fit-content;
    display: flex;
    gap: 6.95vw;
    justify-content: center;
    align-items: center;
}

.jugador-padel{
    width: 50vw;
}



.noticia{
    display: flex;
    flex-direction: column;
    width: 31.25vw;
    gap: 3.12vh;
    align-items: flex-end;
}

.titulo-noticia{
    color: #232C50;
    justify-content: flex-end;
    font-size: 3.125rem;
    width: 31.25vw;
    height: fit-content;
    font-weight: 700;
    line-height: 3.57rem;
    letter-spacing: -0.035em;
    text-align: right;
}

.subtitulo-noticia{
    width: 31.25vw;
    height: fit-content;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0em;
    text-align: right;
}

/* inicio Section 2 */

.points-header{
    width: 100%;
    height: 15vh;
    display: flex;
    font-size: 1em;
    color: white;
    background-color: #8B48BF;
    gap: 11.12vh;
    justify-content: center;
    align-items: center;
}

.points-a{
    display: flex;
    width: 31.25vw;
    height: fit-content;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 2.6rem;
    text-align: left;
}

.points-b{
    width: 31.25vw;
    display: flex;
    height: fit-content;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
}

.points-c{
    display: none;
}

.points{
    display: flex;
    padding: 40px 0px 40px 0px;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: rgb(249, 249, 249);
}

.points-pro{
    display: flex;
    gap:2.55vh;
    width: 36.81vw;
    height: fit-content;
}

.num-button{
    color: white;
    display: flex;
    font-weight: 700;
    background-color: #8B48BF;
    width: fit-content;
    height: fit-content;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    gap: 10px;
}

.point-resume{
    display: flex;
    gap: 1.25vw; 
    flex-wrap: wrap;
    align-items: center;
    align-content: center;   
}

.point-resume .num-button{
    display: none;
}

.point-title{
    color: #323851;
    font-weight: 700;
    line-height: 1.47em;
    width: fit-content;
    height: fit-content;
}

.point-p{
    color: #B3B2B7;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: -0.01em;
    text-align: left;
}

/* inicio seccion 3 */

.best-otm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.best-otm-title{
    color: #242E53;
    display: flex;
    font-size: 2.5rem;
    line-height: 3.84em;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.group-cards{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.player-card{
    background-color: #1e1e2600;
    z-index: 111;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.45vw;
    width: 31vw; 
}

.p-name{
    color:#3F4868;
    font-weight: 700;
    line-height: 1.56em;
}

.p-description{
    height: fit-content;
    width: 27.99vw;
    color: rgba(185, 185, 193, 1);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    gap: 1.46vw;
}

.b-more{
    display: flex;
    width: 134px;
    height:44px;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #8B48BF;
    border: none;

}

/* inicio section 4 */

.best{
    display: flex;
    font-weight: 700;
    font-size: 2.25em;
    width: 100vw;
    height: 24.89vh;
    color: white;
    background-color: #8B48BF;
    gap: 30vw;
    padding: 4.45vh 0px 4.45vh 0px;
    justify-content: space-evenly;
    align-items: center;
}

.gfi-button{
        font-family:'Be Vietnam Pro';
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        color: #8B48BF;
        background-color: white;
        width: 134px;
        height: 44px;
        padding: 10px;
        border-radius: 50px;
        gap: 10px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
        border: none;
}

.gfi-button:hover{
    color: white;
    background-color: #ad7ad4;
    transform: scale(1.1);
}

.best-button{
    position: relative;
    display: inline-block;
}

.manito{
        position: absolute;
        left: 45%;
        top: 110%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        z-index: 2;
        animation: pulse 2s ease-in-out infinite;
}

/* inicio footer*/

.logo-sportitFooter{
    width: 107.69px;
    height: 25px;
    margin-bottom: 6vh;   
}

footer{

    display: flex;
    background-color: black;
    width: 100%;
    height: 27.45vh;
    font-family:'Be Vietnam Pro';
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.logoyrrss{
    display:flex;
    flex-direction: column;
}

.rrss{
    display:flex;
    flex-direction: row;
    gap: 0.5vw;
}

.footer-nav-sec{
    display: flex;
    justify-content: space-between;
    gap: 20vw;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    color:white;
    font-weight: lighter;
    margin-top: 3vh;
    gap: 1.34vh;
    list-style: none;
}

.inbox-request{
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.emailfield{
    background-color: white;
    width: 10vw;
    height: 4.9vh;
    padding: 0.2em;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.emailbutton{
    color: white;
    background-color: #8B48BF;
    width: 4vw;
    height: 4.9vh;
    padding: 0.2em;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
    margin-left: 0.6vh;
}

.copyright-desktop{
    margin-top: 2vh;
    color:dimgray;
    font-size: x-small;
    align-self:last baseline;
}

.copyright-mobile{
    display: none;
}

/* inicio de media querie */

@media (max-width: 480px) {

    /* mq mobile header*/
    .nav-header{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 41.67vw;  
        height: fit-content;    
        
    }

    .nav-header ul{
        display: none;
    }

    .menu-hamb{
        display: block;
    }

    .b-contact{
        display: none;
    }

    /* mq mobile main sec-1*/

    .article-main{
        height: fit-content;
        display: flex;
        flex-direction: column;
        left: 8.34vw;
        gap: 100px;
        justify-content: center;
    }

    .jugador-padel{
        width: 83.34vw;
    }

    .noticia{
        display: flex;
        flex-direction: column;
        gap: 5.84vw;
        flex-wrap: wrap;
        align-content: center;
    }

    .titulo-noticia{
        color: #232C50;
        font-size: 3.125rem;
        width: 83.34vw;
        height: fit-content;
        font-weight: 700;
        line-height: 3.57rem;
        letter-spacing: -0.035em;
        justify-content: center;
    }

    .subtitulo-noticia{
        width: 83.34vw;
        height: fit-content;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.625rem;
        letter-spacing: 0em;
    }

    .noticia button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* mq mobile main sec-2*/

    .points-header{
        height: fit-content;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        color: white;
        background-color: #3CDDF3;
        gap: 2vh;
    }

    .points-a{
        display: flex;
        width: 91.67vw;
        height: fit-content;
        font-weight: 700;
        font-size: 2.25em;
        line-height: 2.6rem;
        text-align: left;
        margin: 4vh 5vw 2vh 5vw;
    }

    .points-b{
        display: none;
    }

    .points-c{
        width: 91.67vw;
        display: flex;
        height: fit-content;
        line-height: 1.5rem;
        letter-spacing: 0em;
        text-align: left;
        margin: 1vh 5vw 4vh 5vw;
    }

    .points{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
        background-color: white;
    }

    
    .points-pro{
        display: flex;
        flex-wrap: nowrap;
        width: 446px;
        height: fit-content;
        gap: 21px;
    }

    .num-button{
       display: none;
    
    }   
    
    .point-resume{
        display: flex;
        gap: 1.25vw; 
        flex-wrap: wrap;
        align-items: center;
        align-content: center;   
    }

    .point-resume .num-button{
        display: flex;
        position: relative;
        right: 20px;
    }
    
    .point-title{
        position: relative;
        left: 6px;
        display: flex;
        background-color: #8B48BF4D;
        color: #323851;
        font-weight: 700;
        line-height: 1.47em;
        width: 440px;
        height: fit-content;
        gap: 10px;
        align-items: center;
    }
   
    
    .point-p{
        color: #B3B2B7;
        font-weight: 500;
        line-height: 1.6em;
        letter-spacing: -0.01em;
        text-align: left;
    }


    /*mq mobile main sec-3*/

    .best-otm{
        display: flex;
        justify-content: center;
        gap: 18px;
    }

    .group-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: scroll;
    }

    .player-card{
        background-color: #1e1e2600;
        z-index: 111;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 4.38vw;
        width: 92.71vw; 
    }


    .sanyo{
        display: none;
    }

    .navarro{
        display: none;
    }

    .p-description{
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        width: 81.25vw;
        color: rgba(185, 185, 193, 1);
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
    }


    /*mq mobile main sec-4*/ 

    .best{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        font-weight: 700;
        font-size: 2.25em;
        color: white;
        background-color: #3CDDF3;
        gap: 50px;
      
    }

    .best p{
        height: 192px;
        width: 100%;
        text-align: center;
    }
    
    .gfi-button{
            font-family:'Be Vietnam Pro';
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            color:  white;
            background-color: #232C50;
           
    }

    .manito{
        display: none;
    }

    /*mq mobile footer*/

    footer{
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: fit-content;
        color: white;
    }


    .sections-footer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .logo-sportitFooter{
        display: flex;
        width: 107.69px;
        height: 25px; 
        padding: 10px;
        gap: 10px; 
        box-sizing: content-box;
        margin-bottom: 0px;
    }
    
   
    
    .logoyrrss{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 10px 50px 10px 50px;
        float: inline-end;
        order: 3;
    }
    
    .rrss{
        justify-content: space-evenly;
        gap: 12vw;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    .footer-nav-sec{
        display: flex;
        flex-direction: row;
        gap: 30vw;
        order: 2;
    }
    
    .inbox-request{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
        order: 1;

    }
    
    .emailfield{
        width: 250px;
    }
    
    .emailbutton{
        color: white;
        background-color: #8B48BF;
        width: 63px;
        height: 42px;
        border-radius: 50px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
        border: none;
        margin-left: 0.6vh;
    }
    
    .copyright-desktop{
        display:none;
    }

    .copyright-mobile{
        display: flex;
        align-self: center;
        margin-top: 2vh;
        color:dimgray;
        font-size: x-small;
        margin-bottom: 3vh;
        order: 4;
    }
}