@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap);


*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;

}

main{
    display: flex;
    flex-direction: column;
    gap: 5.56vh;

}

/* inicio del header */
.nav-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 7.22vh 11.46vw 7.22vh 11.46vw;
}

.logo-sportitFooter{
    width: 7.48vw;
    height: 2.78vh;
    margin-bottom: 6vh;   
}

.logo-sportitFooter{
    width: 7.48vw;
    height: 2.78vh;
    margin-bottom: 6vh;   
}

.nav-header ul{
    color: #1E1E26;
    list-style: none;
    display: flex;
    width: fit-content;
    flex-direction: row;
    font-weight: 500;
    font-size: 0.82em;
    line-height: 1.45em;
    gap: 3.11vw;

}

.b-contact{
    font-family:'Be Vietnam Pro';
    font-weight: 500;
    line-height: 19px;
    font-size: 0.82em;
    letter-spacing: 0em;
    color: white;
    background-color: #8B48BF;
    width: 134px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

li:hover{
    
    color: #242E5299;
}

/* inicio del main */

/* inicio de seccion 1 */

.article-main{
    height: fit-content;
    display: flex;
    left: 12.50%;
    gap: 6.95vh;
    justify-content: center;
    align-items: center;
}



.noticia{
    display: flex;
    flex-direction: column;
    width: 31.25vw;
    gap: 3.12vh;
    align-items: flex-end;
}

.titulo-noticia{
    color: #232C50;
    justify-content: flex-end;
    font-size: 3.125rem;
    width: 31.25vw;
    height: fit-content;
    font-weight: 700;
    line-height: 3.57rem;
    letter-spacing: -0.035em;
    text-align: right;
}

.subtitulo-noticia{
    width: 31.25vw;
    height: fit-content;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0em;
    text-align: right;


}
/* inicio Section 2 */

.points-header{
    width: 100vw;
    height: fit-content;
    display: flex;
    font-size: 1em;
    color: white;
    background-color: #8B48BF;
    font-weight: 500;
    gap: 11.12vh;
    padding: 4.45vh 0px 4.45vh 0px;
    justify-content: center;

}

.points-a{
    display: flex;
    color: white;
    width: 31.25vw;
    height: fit-content;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 2.6rem;
}

.points-b{
    display: flex;
    height: fit-content;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;

}

.points{
    display: flex;
    padding: 4.45vh 0px 4.45vh 0px;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6vw 2.56vh;
    background-color: rgb(249, 249, 249);



}

.num-button{
    color: white;
    display: flex;
    font-weight: 700;
    background-color: #8B48BF;
    width: fit-content;
    height: fit-content;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    gap: 10px;

}



.points-pro{
    
    display: flex;
    gap:2.55vh;
    width: 36.81vw;
    height: fit-content;

}

.point-resume{
    display: flex;
    gap: 1.25vw; 
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    
}

.point-title{
    color: #323851;
    font-weight: 700;
    line-height: 1.47em;
    width: fit-content;
    height: fit-content;
}

.point-p{
    color: #B3B2B7;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: -0.01em;
    text-align: left;
}

/* inicio seccion 3 */

.best-otm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.best-otm-title{
    display: flex;
    font-size: 2.5rem;
    line-height: 3.84em;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}

.group-cards{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.player-card{
    background-color: #1e1e2600;
    z-index: 111;
    display: flex;
    flex-wrap: wrap;
    width: 30.91vw;
    height: 28.90vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.45vw 2.34vh;

    
}

.player-card img{
    width: 4.9vw;
    height: 7.8vh;
}

.p-name{
    color:#3F4868;
    font-weight: 700;
}

.p-description{
    width: 27.99vw;
    color: rgba(185, 185, 193, 1);
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;


}



.b-more{
    display: flex;
    flex: wrap;
    width: 134px;
    height:44px;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #8B48BF;
    border: none;

}

/* inicio section 4 */

.best{
    display: flex;
    font-weight: 700;
    font-size: 2.25em;
    width: 100vw;
    height: 24.89vh;
    color: white;
    background-color: #8B48BF;
    gap: 30vw;
    padding: 4.45vh 0px 4.45vh 0px;
    justify-content: space-evenly;
    align-items: center;
}

.gfi-button{
        font-family:'Be Vietnam Pro';
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        color: #8B48BF;
        background-color: white;
        width: 134px;
        height: 44px;
        padding: 10px;
        border-radius: 50px;
        gap: 10px;
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
        border: none;
}

footer{

    display: flex;
    background-color: black;
    width: 100vw;
    height: 27.45vh;
    font-family:'Be Vietnam Pro';
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

.logoyrrss{
    display:flex;
    flex-direction: column;
}

.rrss{
    display:flex;
    flex-direction: row;
    gap: 0.5vw;
    margin-left: 1vw;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    color:white;
    font-weight: lighter;
    margin-top: 3vh;
    gap: 1.34vh;
    list-style: none;
}


.inbox-request{
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.emailfield{
    background-color: white;
    width: 201px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
}

.emailbutton{
    color: white;
    background-color: #8B48BF;
    width: 63px;
    height: 42px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;
    margin-left: 0.6vh;
}

.copyright{
    margin-top: 2vh;
    color:dimgray;
    font-size: x-small;
    align-self:last baseline;
}